﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="arsa.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 1080px;
        }
        .auto-style10 {
            width: 887px;
            height: 725px;
            color: #FFFFFF;
        }
        .auto-style11 {
            height: 115px;
        }
        .auto-style12 {
            height: 725px;
            width: 400px;
        }
        .auto-style14 {
            width: 1230px;
            height: 288px;
        }
        .auto-style15 {
            width: 54%;
        }
        .auto-style16 {
            height: 50px;
        }
        .auto-style17 {
            height: 31px;
        }
        .auto-style18 {
            color: #FFFFFF;
        }
        .auto-style19 {
            width: 100%;
            float: left;
        }
        .auto-style20 {
            width: 93px;
        }
        .auto-style21 {
            width: 286px;
        }
        .auto-style22 {
            width: 50px;
        }
        .auto-style28 {
            width: 93px;
            height: 121px;
        }
        .auto-style27 {
            width: 175px;
            height: 115px;
        }
        .auto-style29 {
            width: 286px;
            height: 121px;
        }
        .auto-style30 {
            width: 50px;
            height: 121px;
        }
        .auto-style31 {
            height: 121px;
        }
        </style>
</head>
<body style="height: 1085px" background="images/back.jpg">
    <form id="form1" runat="server">
        <table align="center" style="height: 798px" border="0">
            <tr>
                <td class="auto-style11" colspan="2">
                    <img alt="" class="auto-style14" src="images/banner.jpg" /></td>
            </tr>
      
            <tr>
                 <td class="auto-style12" align="left">
                     <table class="auto-style15" align="left">
                         <tr>
                             <td class="auto-style16">
                                 <asp:Button ID="btndefault" runat="server" Height="50px" Text="ANASAYFA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btndefault_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnev" runat="server" Height="50px" Text="EV" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnev_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnisyeri" runat="server" Height="50px" Text="İŞYERİ &amp; DÜKKAN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnisyeri_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnarsa" runat="server" Height="50px" Text="ARSA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnarsa_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnproje" runat="server" Height="50px" Text="PROJELERİMİZ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnproje_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyeol" runat="server" Height="50px" Text="ÜYE OL" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyeol_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyegirisi" runat="server" Height="50px" Text="ÜYE GİRİŞİ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyegirisi_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnhakimizda" runat="server" Height="50px" Text="HAKKIMIZDA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnhakimizda_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnbizeulasin" runat="server" Height="50px" Text="BİZE ULAŞIN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnbizeulasin_Click" />
                             </td>
                         </tr>
                     </table>
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                 </td>
                 <td class="auto-style10">
                     <table align="left" class="auto-style19">
                         <tr>
                             <td align="center" class="auto-style20">
                                 <asp:Label ID="Label1" runat="server" ForeColor="White" Text="RESİMLER"></asp:Label>
                             </td>
                             <td align="center" class="auto-style21">
                                 <asp:Label ID="Label2" runat="server" ForeColor="White" Text="İLAN BAŞLIĞI"></asp:Label>
                             </td>
                             <td align="center" class="auto-style22">
                                 <asp:Label ID="Label3" runat="server" ForeColor="White" Text="M2"></asp:Label>
                             </td>
                             <td align="center">
                                 <asp:Label ID="Label4" runat="server" ForeColor="White" Text="ODA SAYISI"></asp:Label>
                             </td>
                             <td align="center">
                                 <asp:Label ID="Label5" runat="server" ForeColor="White" Text="FİYATI"></asp:Label>
                             </td>
                             <td align="center">
                                 <asp:Label ID="Label6" runat="server" ForeColor="White" Text="İLAN TARİHİ"></asp:Label>
                             </td>
                             <td align="center">
                                 <asp:Label ID="Label7" runat="server" ForeColor="White" Text="İL/İLÇE"></asp:Label>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style28">
                                 <img alt="" class="auto-style27" src="images/22.jpg" /></td>
                             <td class="auto-style29">AYAŞ BAŞBEREKET DE SATILIK HOBİ BAHÇESİ - Satılık Arsa İlanları </td>
                             <td class="auto-style30">500</td>
                             <td class="auto-style31">0</td>
                             <td class="auto-style31">750000TL</td>
                             <td class="auto-style31">17.02.2013</td>
                             <td class="auto-style31">Artvin</td>
                         </tr>
                         <tr>
                             <td class="auto-style20">
                                 <img alt="" class="auto-style27" src="images/23.jpg" /></td>
                             <td class="auto-style21">İZNİK AYDINLAR KÖYÜNDE 750M2 FULL İZNİK GÖL MANZARALI BOŞ ARAZİ - Satılık Arsa İlanları </td>
                             <td class="auto-style22">145</td>
                             <td>0</td>
                             <td>800000TL</td>
                             <td>18.08.2013</td>
                             <td>Antalya</td>
                         </tr>
                         <tr>
                             <td class="auto-style20"><img alt="" class="auto-style27" src="images/24.jpg" /></td>
                             <td class="auto-style21">Samsun atakum büyük oyumcada satılık 1400 m2 arsa </td>
                             <td class="auto-style22">1400</td>
                             <td>0</td>
                             <td>1000000TL</td>
                             <td>11.05.2013</td>
                             <td>Samsun</td>
                         </tr>
                         <tr>
                             <td class="auto-style20"><img alt="" class="auto-style27" src="images/25.jpg" /></td>
                             <td class="auto-style21">Samsun atakum kurupelit de satılık 1100 m2 185000 tl </td>
                             <td class="auto-style22">1100</td>
                             <td>0</td>
                             <td>185000 tl </td>
                             <td>22.12.2013</td>
                             <td>Samsun</td>
                         </tr>
                         <tr>
                             <td class="auto-style20"><img alt="" class="auto-style27" src="images/26.jpg" /></td>
                             <td class="auto-style21">Urla Belentepe de Full Deniz ve şehir manzaralı 8500m2 - </td>
                             <td class="auto-style22">8500</td>
                             <td>0</td>
                             <td>450000TL</td>
                             <td>12.09.2013</td>
                             <td>İzmir</td>
                         </tr>
                         <tr>
                             <td class="auto-style20">&nbsp;</td>
                             <td class="auto-style21">&nbsp;</td>
                             <td class="auto-style22">&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td class="auto-style20">&nbsp;</td>
                             <td class="auto-style21">&nbsp;</td>
                             <td class="auto-style22">&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                         </tr>
                         <tr>
                             <td class="auto-style20">&nbsp;</td>
                             <td class="auto-style21">&nbsp;</td>
                             <td class="auto-style22">&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                         </tr>
                     </table>
                 </td>
            </tr>
          <tr>
               <td class="auto-style17" colspan="2" align="center" ><strong><span class="auto-style18">Copyright © Kuby ve Ortakları</span></strong></td>
            </tr>
        </table>
    
    </form>
</body>
</html>
