﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ev.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 1080px;
        }
        .auto-style10 {
            width: 887px;
            height: 725px;
        }
        .auto-style11 {
            height: 115px;
        }
        .auto-style12 {
            height: 725px;
            width: 400px;
        }
        .auto-style14 {
            width: 1230px;
            height: 288px;
        }
        .auto-style15 {
            width: 54%;
        }
        .auto-style16 {
            height: 50px;
        }
        .auto-style17 {
            height: 31px;
        }
        .auto-style18 {
            color: #FFFFFF;
        }
        </style>
</head>
<body style="height: 1085px" background="images/back.jpg">
    <form id="form1" runat="server">
        pp<table align="center" style="height: 798px" border="0">
            <tr>
                <td class="auto-style11" colspan="2">
                    <img alt="" class="auto-style14" src="images/banner.jpg" /></td>
            </tr>
      
            <tr>
                 <td class="auto-style12" align="left">
                     <table class="auto-style15" align="left">
                         <tr>
                             <td class="auto-style16">
                                 <asp:Button ID="btndefault" runat="server" Height="50px" Text="ANASAYFA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btndefault_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnev" runat="server" Height="50px" Text="EV" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnev_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnisyeri" runat="server" Height="50px" Text="İŞYERİ &amp; DÜKKAN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnisyeri_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnarsa" runat="server" Height="50px" Text="ARSA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnarsa_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnproje" runat="server" Height="50px" Text="PROJELERİMİZ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnproje_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyeol" runat="server" Height="50px" Text="ÜYE OL" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnuyeol_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyegirisi" runat="server" Height="50px" Text="ÜYE GİRİŞİ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnuyegirisi_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnhakimizda" runat="server" Height="50px" Text="HAKKIMIZDA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnhakimizda_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnbizeulasin" runat="server" Height="50px" Text="BİZE ULAŞIN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnbizeulasin_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                     </table>
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                 </td>
                 <td class="auto-style10">
                     <asp:Button ID="Button1" runat="server" Text="ev" />
                 </td>
            </tr>
          <tr>
               <td class="auto-style17" colspan="2" align="center" ><strong><span class="auto-style18">Copyright © Kuby ve Ortakları</span></strong></td>
            </tr>
        </table>
    
    </form>
</body>
</html>
