﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="iletisim.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 1080px;
        }
        .auto-style10 {
            width: 887px;
            height: 725px;
        }
        .auto-style11 {
            height: 115px;
        }
        .auto-style12 {
            height: 725px;
            width: 400px;
        }
        .auto-style14 {
            width: 1230px;
            height: 288px;
        }
        .auto-style15 {
            width: 54%;
        }
        .auto-style16 {
            height: 50px;
        }
        .auto-style17 {
            height: 31px;
        }
        .auto-style18 {
            color: #FFFFFF;
        }

        .auto-style19
        {
            width: 50%;
            height: 437px;
            border: 3px solid #000000;
        }
        .auto-style20
        {
            color: #009933;
            font-size: x-large;
            text-align: center;
            height: 65px;
        }
        .auto-style25
        {
            width: 225px;
            height: 42px;
        }
        .auto-style31
        {
            color: #FFFFFF;
            height: 36px;
        }
        .auto-style32
        {
            width: 225px;
            height: 36px;
        }
        .auto-style37
        {
            color: #FFFFFF;
            height: 178px;
        }
        #TextArea1
        {
            height: 150px;
            width: 212px;
        }
        .auto-style38
        {
            color: #FFFFFF;
            height: 85px;
        }
        .auto-style39
        {
            color: #FFFFFF;
            height: 49px;
        }
        .auto-style40
        {
            width: 225px;
            height: 49px;
        }
        .auto-style41
        {
            color: #FFFFFF;
            height: 40px;
        }
        .auto-style42
        {
            width: 225px;
            height: 40px;
        }
        .auto-style43
        {
            color: #FFFFFF;
            height: 39px;
        }
        .auto-style44
        {
            width: 225px;
            height: 39px;
        }
        .auto-style45
        {
            height: 42px;
        }
 
        </style>
</head>
<body style="height: 1085px" background="images/back.jpg">
    <form id="form1" runat="server">
        <table align="center" style="height: 798px" border="0">
            <tr>
                <td class="auto-style11" colspan="2">
                    <img alt="" class="auto-style14" src="images/banner.jpg" /></td>
            </tr>
      
            <tr>
                 <td class="auto-style12" align="left">
                     <table class="auto-style15" align="left">
                         <tr>
                             <td class="auto-style16">
                                 <asp:Button ID="btndefault" runat="server" Height="50px" Text="ANASAYFA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btndefault_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnev" runat="server" Height="50px" Text="EV" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnev_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnisyeri" runat="server" Height="50px" Text="İŞYERİ &amp; DÜKKAN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnisyeri_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnarsa" runat="server" Height="50px" Text="ARSA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnarsa_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnproje" runat="server" Height="50px" Text="PROJELERİMİZ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnproje_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyeol" runat="server" Height="50px" Text="ÜYE OL" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyeol_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyegirisi" runat="server" Height="50px" Text="ÜYE GİRİŞİ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyegirisi_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnhakimizda" runat="server" Height="50px" Text="HAKKIMIZDA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnhakimizda_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnbizeulasin" runat="server" Height="50px" Text="BİZE ULAŞIN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnbizeulasin_Click" />
                             </td>
                         </tr>
                     </table>
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                 </td>
                 <td class="auto-style10">

                     <table class="auto-style19">
                         <tr>
                             <td class="auto-style20" colspan="2">Bize Ulaşın..</td>
                         </tr>
                         <tr>
                             <td class="auto-style39">Kullanıcı Adı:</td>
                             <td class="auto-style40">
                                 <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style41">Ad:</td>
                             <td class="auto-style42">
                                 <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style43">Soyad:</td>
                             <td class="auto-style44">
                                 <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style31">E-Posta</td>
                             <td class="auto-style32">
                                 <asp:TextBox ID="TextBox4" runat="server" AutoCompleteType="Email"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style37">Mesajınız:<br />
                                 <br />
                                 <br />
                             </td>
                             <td class="auto-style37" rowspan="2">
                                 <textarea id="TextArea1" name="S1"></textarea></td>
                         </tr>
                         <tr>
                             <td class="auto-style38"></td>
                         </tr>
                         <tr>
                             <td class="auto-style45">
                                 <asp:Button ID="Button3" runat="server" Text="Giriş" />
                             </td>
                             <td class="auto-style25">
                                 <asp:Button ID="Button2" runat="server" Text="Temizle" />
                             </td>
                         </tr>
                     </table>

                 </td>
            </tr>
          <tr>
               <td class="auto-style17" colspan="2" align="center" ><strong><span class="auto-style18">Copyright © Kuby ve Ortakları</span></strong></td>
            </tr>
        </table>
    
    </form>
</body>
</html>
