﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="isyeri.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 1080px;
        }
        .auto-style10 {
            width: 887px;
            height: 725px;
        }
        .auto-style11 {
            height: 115px;
        }
        .auto-style12 {
            height: 725px;
            width: 400px;
        }
        .auto-style14 {
            width: 1230px;
            height: 288px;
        }
        .auto-style15 {
            width: 54%;
        }
        .auto-style16 {
            height: 50px;
        }
        .auto-style17 {
            height: 31px;
        }
        .auto-style18 {
            color: #FFFFFF;
        }
        .auto-style19 {
            width: 100%;
            float: left;
        }
        .auto-style20 {
            width: 93px;
        }
        .auto-style21 {
            width: 260px;
        }
        .auto-style22 {
            width: 50px;
        }
        .auto-style28 {
            width: 93px;
            height: 121px;
        }
        .auto-style29 {
            width: 260px;
            height: 121px;
            color: #FFFFFF;
        }
        .auto-style30 {
            width: 50px;
            height: 121px;
            color: #FFFFFF;
        }
        .auto-style32 {
            width: 175px;
            height: 114px;
        }
        .auto-style33 {
            height: 121px;
            color: #FFFFFF;
        }
        .auto-style34 {
            width: 84px;
        }
        .auto-style35 {
            height: 121px;
            width: 84px;
            color: #FFFFFF;
        }
        .auto-style37 {
            width: 95px;
        }
        .auto-style38 {
            width: 95px;
            height: 121px;
            color: #FFFFFF;
        }
        .auto-style40 {
            width: 95px;
            color: #FFFFFF;
        }
        .auto-style41 {
            width: 84px;
            color: #FFFFFF;
        }
        .auto-style42 {
            width: 50px;
            color: #FFFFFF;
        }
        .auto-style43 {
            width: 260px;
            color: #FFFFFF;
        }
        .auto-style44 {
            width: 93px;
            color: #FFFFFF;
        }
        .auto-style45 {
            width: 175px;
            height: 114px;
            color: #FFFFFF;
        }
        </style>
</head>
<body style="height: 1085px" background="images/back.jpg">
    <form id="form1" runat="server">
        <table align="center" style="height: 798px" border="0">
            <tr>
                <td class="auto-style11" colspan="2">
                    <img alt="" class="auto-style14" src="images/banner.jpg" /></td>
            </tr>
      
            <tr>
                 <td class="auto-style12" align="left">
                     <table class="auto-style15" align="left">
                         <tr>
                             <td class="auto-style16">
                                 <asp:Button ID="btndefault" runat="server" Height="50px" Text="ANASAYFA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btndefault_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnev" runat="server" Height="50px" Text="EV" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnev_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnisyeri" runat="server" Height="50px" Text="İŞYERİ &amp; DÜKKAN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnisyeri_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnarsa" runat="server" Height="50px" Text="ARSA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnarsa_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnproje" runat="server" Height="50px" Text="PROJELERİMİZ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnproje_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyeol" runat="server" Height="50px" Text="ÜYE OL" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyeol_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyegirisi" runat="server" Height="50px" Text="ÜYE GİRİŞİ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyegirisi_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnhakimizda" runat="server" Height="50px" Text="HAKKIMIZDA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnhakimizda_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnbizeulasin" runat="server" Height="50px" Text="BİZE ULAŞIN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnbizeulasin_Click" />
                             </td>
                         </tr>
                     </table>
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                 </td>
                 <td class="auto-style10">
                     <table align="left" class="auto-style19">
                         <tr>
                             <td align="center" class="auto-style20">
                                 <asp:Label ID="Label1" runat="server" ForeColor="White" Text="RESİMLER" CssClass="auto-style18"></asp:Label>
                             </td>
                             <td align="center" class="auto-style21">
                                 <asp:Label ID="Label2" runat="server" ForeColor="White" Text="İLAN BAŞLIĞI" CssClass="auto-style18"></asp:Label>
                             </td>
                             <td align="center" class="auto-style22">
                                 <asp:Label ID="Label3" runat="server" ForeColor="White" Text="M2" CssClass="auto-style18"></asp:Label>
                             </td>
                             <td align="center" class="auto-style34">
                                 <asp:Label ID="Label4" runat="server" ForeColor="White" Text="ODA SAYISI" CssClass="auto-style18"></asp:Label>
                             </td>
                             <td align="center">
                                 <asp:Label ID="Label5" runat="server" ForeColor="White" Text="FİYATI" CssClass="auto-style18"></asp:Label>
                             </td>
                             <td align="center" class="auto-style37">
                                 <asp:Label ID="Label6" runat="server" ForeColor="White" Text="İLAN TARİHİ" CssClass="auto-style18"></asp:Label>
                             </td>
                             <td align="center">
                                 <asp:Label ID="Label7" runat="server" ForeColor="White" Text="İL/İLÇE" CssClass="auto-style18"></asp:Label>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style28">
                                 <img alt="" class="auto-style45" src="images/128646495adn.jpg" /></td>
                             <td class="auto-style29">ALP ASİSTANLIK&#39;TAN YATILI BÖLGEDE ANA CADDE DÜKKAN FİYATI DÜŞTÜ </td>
                             <td class="auto-style30">150</td>
                             <td class="auto-style35">2</td>
                             <td class="auto-style33">150000TL</td>
                             <td class="auto-style38">21.01.2013</td>
                             <td class="auto-style33">İstanbul</td>
                         </tr>
                         <tr>
                             <td class="auto-style20"><img alt="" class="auto-style32" src="images/2.jpg" /></td>
                             <td class="auto-style43">BEYLİKDÜZÜNDE ARŞ İNŞAAT SATILIK DÜKKAN 160 BİN YERİNE</td>
                             <td class="auto-style42">100</td>
                             <td class="auto-style41">0</td>
                             <td class="auto-style18">100000TL</td>
                             <td class="auto-style40">11.06.2010</td>
                             <td class="auto-style18">Antalya</td>
                         </tr>
                         <tr>
                             <td class="auto-style20"><img alt="" class="auto-style45" src="images/3.jpg" /></td>
                             <td class="auto-style43">BKA GAYRİMENKUL&#39;DAN GATEM AYAKKABICILAR SİTESİNDE SATILIK DÜKKAN </td>
                             <td class="auto-style42">90</td>
                             <td class="auto-style41">2</td>
                             <td class="auto-style18">145000TL</td>
                             <td class="auto-style40">11.12.2013</td>
                             <td class="auto-style18">Aydın</td>
                         </tr>
                         <tr>
                             <td class="auto-style20"><img alt="" class="auto-style45" src="images/4.jpg" /></td>
                             <td class="auto-style43">CEBECİ EMLAK tan SATILIK DÜKKAN 260 m2 TABAN ALANI 100 m2 BODRUM </td>
                             <td class="auto-style42">150</td>
                             <td class="auto-style41">0</td>
                             <td class="auto-style18">120000TL</td>
                             <td class="auto-style40">07.04.2011</td>
                             <td class="auto-style18">Istanbul</td>
                         </tr>
                         <tr>
                             <td class="auto-style20"><img alt="" class="auto-style45" src="images/5.jpg" /></td>
                             <td class="auto-style43">HANEDAN EMLAKTAN PEÇENEK CADDESİ ÜZERİNDE BALKONLU DÜKKAN </td>
                             <td class="auto-style42">90</td>
                             <td class="auto-style41">1</td>
                             <td class="auto-style18">75000TL</td>
                             <td class="auto-style40">01.02.2014</td>
                             <td class="auto-style18">Artvin</td>
                         </tr>
                         <tr>
                             <td class="auto-style44">&nbsp;</td>
                             <td class="auto-style43">&nbsp;</td>
                             <td class="auto-style42">&nbsp;</td>
                             <td class="auto-style41">&nbsp;</td>
                             <td class="auto-style18">&nbsp;</td>
                             <td class="auto-style40">&nbsp;</td>
                             <td class="auto-style18">&nbsp;</td>
                         </tr>
                         <tr>
                             <td class="auto-style44">&nbsp;</td>
                             <td class="auto-style43">&nbsp;</td>
                             <td class="auto-style42">&nbsp;</td>
                             <td class="auto-style41">&nbsp;</td>
                             <td class="auto-style18">&nbsp;</td>
                             <td class="auto-style40">&nbsp;</td>
                             <td class="auto-style18">&nbsp;</td>
                         </tr>
                         <tr>
                             <td class="auto-style44">&nbsp;</td>
                             <td class="auto-style43">&nbsp;</td>
                             <td class="auto-style42">&nbsp;</td>
                             <td class="auto-style41">&nbsp;</td>
                             <td class="auto-style18">&nbsp;</td>
                             <td class="auto-style40">&nbsp;</td>
                             <td class="auto-style18">&nbsp;</td>
                         </tr>
                     </table>
                 </td>
            </tr>
          <tr>
               <td class="auto-style17" colspan="2" align="center" ><strong><span class="auto-style18">Copyright © Kuby ve Ortakları</span></strong></td>
            </tr>
        </table>
    
    </form>
</body>
</html>
