﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="proje.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 1080px;
        }
        .auto-style10 {
            width: 887px;
            height: 725px;
        }
        .auto-style11 {
            height: 115px;
        }
        .auto-style12 {
            height: 725px;
            width: 400px;
        }
        .auto-style14 {
            width: 1230px;
            height: 288px;
        }
        .auto-style15 {
            width: 54%;
        }
        .auto-style16 {
            height: 50px;
        }
        .auto-style17 {
            height: 31px;
        }
        .auto-style18 {
            color: #FFFFFF;
        }
        .auto-style19
        {
            width: 100%;
            float: left;
            border: 3px solid #000000;
        }
        .auto-style20
        {
            color: #33CC33;
        }
        .auto-style21
        {
            width: 286px;
            height: 121px;
        }
        .auto-style22
        {
            width: 257px;
        }
        .auto-style23
        {
            width: 286px;
            height: 129px;
        }
        .auto-style24
        {
            width: 257px;
            height: 3px;
        }
        .auto-style25
        {
            color: #FFFFFF;
            height: 3px;
        }
        .auto-style26
        {
            width: 257px;
            height: 113px;
        }
        .auto-style27
        {
            color: #FFFFFF;
            height: 113px;
        }
        .auto-style28
        {
            width: 287px;
            height: 132px;
        }
        .auto-style29
        {
            width: 288px;
            height: 140px;
        }
        </style>
</head>
<body style="height: 1085px" background="images/back.jpg">
    <form id="form1" runat="server">
        <table align="center" style="height: 798px" border="0">
            <tr>
                <td class="auto-style11" colspan="2">
                    <img alt="" class="auto-style14" src="images/banner.jpg" /></td>
            </tr>
      
            <tr>
                 <td class="auto-style12" align="left">
                     <table class="auto-style15" align="left">
                         <tr>
                             <td class="auto-style16">
                                 <asp:Button ID="btndefault" runat="server" Height="50px" Text="ANASAYFA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btndefault_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnev" runat="server" Height="50px" Text="EV" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnev_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnisyeri" runat="server" Height="50px" Text="İŞYERİ &amp; DÜKKAN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnisyeri_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnarsa" runat="server" Height="50px" Text="ARSA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnarsa_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnproje" runat="server" Height="50px" Text="PROJELERİMİZ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnproje_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyeol" runat="server" Height="50px" Text="ÜYE OL" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyeol_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyegirisi" runat="server" Height="50px" Text="ÜYE GİRİŞİ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyegirisi_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnhakimizda" runat="server" Height="50px" Text="HAKKIMIZDA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnhakimizda_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnbizeulasin" runat="server" Height="50px" Text="BİZE ULAŞIN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnbizeulasin_Click" />
                             </td>
                         </tr>
                     </table>
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                 </td>
                 <td class="auto-style10">
                     <table align="center" class="auto-style19">
                         <tr>
                             <td class="auto-style20" colspan="2">
                                 <h2>Günün En Popiler Projeleri</h2>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style26">
                                 <img alt="" class="auto-style21" src="images/1kagit.jpg" /></td>
                             <td class="auto-style27">8 blok ve 122 daireden oluşan&nbsp;KAĞITHANE 7000&nbsp;güvenilir, huzurlu ve kaliteli bir yaşam için karşınızda. Daire&nbsp;sahiplerinin mutlu bir yaşam sürdürebilmesi için&nbsp;KAĞITHANE 7000’de her şey en ince ayrıntısına kadar düşünüldü. 5600 m2 kapalı oto parkı, bay ve&nbsp;bayan&nbsp;ayrı tasarlanmış 1400 m2’lik iki adet spor salonu ve&nbsp;iki adet yüzme havuzu, yaz ve kış aylarını ayrı güzellikte yaşayabilmek için 3300 m2’lik iç bahçesi ile projemiz, sıkıntı ve stresten</td>
                         </tr>
                         <tr>
                             <td class="auto-style24">
                                 <img alt="" class="auto-style23" src="images/nevbah.jpg" /></td>
                             <td class="auto-style25">İnşaat Sistemi Temel: Zeminin ve projenin durumuna göre kazıklı radye jeneral ve radye jeneral temel uygulanacaktır.&nbsp; Beton + Demir: Taşıyıcı sistemin yapısal gereklikleri azami sağlanacaktır. Temel, bodrum kat ve toprakla temas eden perde duvarlarda sistemin gerektirdiği standartlarda su yalıtımı yapılacaktır. Tüm binalar ve otoparklarda dıştan drenaj yapılacaktır. 56.000 m2 Nevbahçe Botanik Park • Alışveriş Merkezi • Özel Anadolu Fen Lisesi • Akaryakıt İstasyonu • Semt Pazarı • Camii • Basketbol ve voleybol sahaları • Tenis Kortları • Koşu ve Yürüyüş Parkuru • Bisiklet Yolu •</td>
                         </tr>
                         <tr>
                             <td class="auto-style22">
                                 <img alt="" class="auto-style28" src="images/concord-istanbul-139394104096219528.jpg" /></td>
                             <td class="auto-style18">Zaman değişiyor. ‘’İnsan odaklı tasarım’’ çağımızın olmazsa olmazı. Bu çağı yakalamak, insanımıza hak ettiği yaşam standartlarını sağlamak için başlayan büyük bir değişimin tam ortasındayız. Deyim yerindeyse İstanbul baştan yaratılıyor, parlatılan bir mücevher gibi hak ettiği değeri bulmaya başlıyor. Concord İstanbul, bu değişimin en göze çarpan parçalarından biri olmak üzere tasarlandı. Kadıköy’ün yeniye ve güzele olan yolculuğu Concord İstanbul’la başlıyor.</td>
                         </tr>
                         <tr>
                             <td class="auto-style22">
                                 <img alt="" class="auto-style29" src="images/ruya-prestij-137413752894449491.jpg" /></td>
                             <td class="auto-style18">Teslim Tarihi: 20 Nisan 2015 Arsanın Yüzölçümü: 8.043 m2 Toplam İnşaat Alanı: 30.000 m2 Arsa İmar Durumu: Konut + Ticari Blok Sayısı: 3 blok Blok Kat Sayısı: 8 Kat Konut Sayısı: 228 konut Ticari Alan Sayısı: 24 Ticari Ünite Yeşil Alan: 6.500 m2 Sosyal Tesisler: 600 m2 Otopark: Açık, Kapalı Isıtma - Soğutma: Merkezi Sistem Kredi Durumu: Krediye Uygun Proje Sahibi: Pusula İnşaat Arsa Sahibi: Pusula İnşaat</td>
                         </tr>
                         <tr>
                             <td class="auto-style22">&nbsp;</td>
                             <td>&nbsp;</td>
                         </tr>
                     </table>
                 </td>
            </tr>
          <tr>
               <td class="auto-style17" colspan="2" align="center" ><strong><span class="auto-style18">Copyright © Kuby ve Ortakları</span></strong></td>
            </tr>
        </table>
    
    </form>
</body>
</html>
