﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="uyeol.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 1080px;
        }
        .auto-style10 {
            width: 887px;
            height: 725px;
        }
        .auto-style11 {
            height: 115px;
        }
        .auto-style12 {
            height: 725px;
            width: 400px;
        }
        .auto-style14 {
            width: 1230px;
            height: 288px;
        }
        .auto-style15 {
            width: 54%;
        }
        .auto-style16 {
            height: 50px;
        }
        .auto-style17 {
            height: 31px;
        }
        .auto-style18 {

            color: #FFFFFF;
        }

           
        .auto-style19 {
            width: 53%;
            height: 494px;
        }
        .auto-style20 {
            text-align: left;
            color: #FFFFFF;
        }
        .auto-style22 {
            text-align: left;
        }
        .auto-style23 {
            color: #FFFFFF;
        }
        .auto-style24 {
            text-align: left;
            color: #009933;
        }

        .auto-style19 {
            height: 448px;
            width: 500px;
        }

        .auto-style25 {
            text-align: left;
            color: #FFFFFF;
            height: 30px;
        }

        </style>
</head>
<body style="height: 1085px" background="images/back.jpg">
    <form id="form1" runat="server">
        <table align="center" style="height: 798px" border="0">
            <tr>
                <td class="auto-style11" colspan="2">
                    <img alt="" class="auto-style14" src="images/banner.jpg" /></td>
            </tr>
      
            <tr>
                 <td class="auto-style12" align="left">
                     <table class="auto-style15" align="left">
                         <tr>
                             <td class="auto-style16">
                                 <asp:Button ID="btndefault" runat="server" Height="50px" Text="ANASAYFA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btndefault_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnev" runat="server" Height="50px" Text="EV" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" OnClick="btnev_Click" style="font-weight: 700" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnisyeri" runat="server" Height="50px" Text="İŞYERİ &amp; DÜKKAN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnisyeri_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnarsa" runat="server" Height="50px" Text="ARSA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnarsa_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnproje" runat="server" Height="50px" Text="PROJELERİMİZ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnproje_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyeol" runat="server" Height="50px" Text="ÜYE OL" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyeol_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnuyegirisi" runat="server" Height="50px" Text="ÜYE GİRİŞİ" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnuyegirisi_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnhakimizda" runat="server" Height="50px" Text="HAKKIMIZDA" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnhakimizda_Click" />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <asp:Button ID="btnbizeulasin" runat="server" Height="50px" Text="BİZE ULAŞIN" Width="210px" BackColor="#669900" BorderColor="#669900" ForeColor="White" style="font-weight: 700" OnClick="btnbizeulasin_Click" />
                             </td>
                         </tr>
                     </table>
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                     <br />
                 </td>
                 <td class="auto-style10">

                     <table class="auto-style19">
                         <tr>
                             <td class="auto-style24" colspan="2">Üye olmak için aşağıdaki boşlukları doldurunuz..</td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Adınız:</td>
                             <td class="auto-style22">
                                 <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Soyadınız:</td>
                             <td class="auto-style22">
                                 <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Doğum Tarihiniz:</td>
                             <td class="auto-style22" style="margin-left: 40px">
                                 <asp:TextBox ID="TextBox8" runat="server" TextMode="Date"></asp:TextBox>
&nbsp;<asp:Label ID="Label2" runat="server" style="color: #FFFFFF" Text="(gg/aa/yy}"></asp:Label>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Cinsiyetiniz:</td>
                             <td class="auto-style22"><span class="auto-style23">Bay</span><span class="auto-style18">:</span><asp:RadioButton ID="RadioButton1" runat="server" CssClass="auto-style18" OnCheckedChanged="RadioButton1_CheckedChanged" />
                                 <span class="auto-style18">&nbsp;</span><span class="auto-style23">Bayan</span><span class="auto-style18">:</span><asp:RadioButton ID="RadioButton2" runat="server" CssClass="auto-style18" />
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Kullanıcı Adınız:</td>
                             <td class="auto-style22">
                                 <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Şifreniz:</td>
                             <td class="auto-style22">
                                 <asp:TextBox ID="TextBox4" runat="server" TextMode="Password"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Şifre Tekrar:</td>
                             <td class="auto-style22">
                                 <asp:TextBox ID="TextBox5" runat="server" TextMode="Password"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">Gizli Soru</td>
                             <td class="auto-style22">
                                 <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">E-Posta</td>
                             <td class="auto-style22">
                                 <asp:TextBox ID="TextBox6" runat="server" TextMode="Email"></asp:TextBox>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20" colspan="2">Sözleşmeyi okudum ve kabul ediyorum<asp:CheckBox ID="CheckBox1" runat="server" OnCheckedChanged="CheckBox1_CheckedChanged" />
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style20">
                                
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <asp:Button ID="Button3" runat="server" OnClick="Button3_Click" Text="Giriş" Width="84px" />
                                
                             </td>
                             <td class="auto-style20">
                                 <asp:Button ID="Button2" runat="server" Text="Temizle" />
                             &nbsp;&nbsp;&nbsp;
                                 <asp:Label ID="Label1" runat="server"></asp:Label>
                             </td>
                         </tr>
                         <tr>
                             <td class="auto-style25"></td>
                             <td class="auto-style25"></td>
                         </tr>
                     </table>

                 </td>
            </tr>
          <tr>
               <td class="auto-style17" colspan="2" align="center" ><strong><span class="auto-style18">Copyright © Kuby ve Ortakları</span></strong></td>
            </tr>
        </table>
    
    </form>
</body>
</html>
